@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.datos-section {
    display: flex;
    flex-direction: row; /* Organiza el título y la descripción en columnas */
    align-items: flex-start; /* Alinea el texto a la izquierda */
    padding:10px;
    margin:5px;
    font-family: "Inter", sans-serif;
  }
  
  .tituloDatos {
    color: white; /* Color del título (puedes cambiarlo) */
    font-size: 14px; /* Tamaño del título */
    font-weight: bold; /* Título en negrita */
    margin-bottom: 10px; /* Espacio debajo del título */
    margin-right:10px;
  }
  

  .descripcion {
    color:white; /* Color de la descripción (puedes cambiarlo) */
    font-size: 14px; /* Tamaño de la descripción */
    font-weight: normal; /* Título en negrita */
  }