# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/

# Next.js build output
.next/
out/

# Compilación y caché
*.pack.gz
.cache/

# Archivos de entorno
.env
.env.local
.env.*.local
.vite-env.d.ts

# Archivos de distribución
dist/
dist-ssr/

# Archivos locales
*.local

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# VSCode y otros editores
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos HTML temporales (si estás mezclando con Vite)
index.html