@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.parametros-container {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* centra verticalmente dentro del div contenedor */
    align-items: center;       /* centra horizontalmente dentro del div contenedor */
    width: 100%;
    height: 100%;
}

.parametros-texto {
    width: 80%;                /* texto más contenido */
    text-align: left;          /* alinea el texto a la izquierda dentro del 80% */
    margin: 2px 0;
}

.parametroTitulo1 {
    font-weight: bold;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.parametroTitulo2 {
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.verde {
    color: green;
}

.rojo {
    color: red;
}

.negro {
    color: black;
}

.azul {
    color: blue;
}
