@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background-color: white;
}

.laTabla{
    margin-bottom:20px;
}

.listado {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.tituloListado {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
  color: black;
}

.cursos {
  color: black;
  margin: 0;
}

.barraBusqueda {
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  align-items: center;
}

.search-input-container {
  position: relative;
  flex-grow: 1;
}

.search-icon {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1em;
}

.search-input:focus {
  outline: none;
}

table {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 0.5px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: left;
  font-size: 1.1em;
  padding: 20px 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: white;
  color: rgb(141, 140, 140);
  font-weight: bold;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background-color: #f5f5f5;
}

th:first-child {
  border-top-left-radius: 20px;
  border-left: 0.01px solid #ccc;
}

th:last-child {
  border-top-right-radius: 20px;
  border-right: 0.01px solid #ccc;
}

button {
  background-color: #6F4EF6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9em;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #5a3ed1;
}

.display_flex {
  display: flex;
  gap: 10px;
}

.formulario-agregar, .formulario-edicion {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.formulario-agregar input,
.formulario-edicion input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
